.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
_book
codeExamples*
data*
slides/libs/
slides/*files*
*.pdf
*.geojson
*.gpkg
*gpx*
*.csv
*.xls
*.zip
*.Rds
TDS
slides/references.bib
*.tex
aq.*
airquality.r
